<mat-card>
    <form [formGroup]="loginForm" (ngSubmit)=login(loginForm.value)>
        <mat-form-field>
            <input matInput type="email" formControlName="email" name="email" placeholder="Email" >
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="password" formControlName="password" name="password" placeholder="Password">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary"[disabled]="!loginForm.valid">Login</button>
    </form>
    </mat-card>