<mat-card>
  <mat-card-title>
    <span *ngIf="questionData">Edit Question</span>
    <span *ngIf="!questionData">New Question</span>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="question">
      <mat-form-field class="fullWidth">
        <mat-label>Question</mat-label>
        <input formControlName="text" name="text" matInput placeholder="Question">
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <mat-label>Correct Answer</mat-label>
        <input formControlName="correctAnswer" name="correctAnswer" matInput placeholder="Correct Answer">
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <mat-label>Wrong Answer</mat-label>
        <input formControlName="answer1" name="answer1" matInput placeholder="Wrong Answer 1">
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <mat-label>Wrong Answer</mat-label>
        <input formControlName="answer2" name="answer2" matInput placeholder="Wrong Answer 2">
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <mat-label>Wrong Answer</mat-label>
        <input formControlName="answer3" name="answer3" matInput placeholder="Wrong Answer 3">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!questionData" (click)="post(question.value)" mat-button>POST</button>
    <button *ngIf="questionData" (click)="put(question.value)" mat-button>EDIT</button>
    <button *ngIf="questionData" (click)="newQuestion()" mat-button>NEW</button>
  </mat-card-actions>
</mat-card>
<questions></questions>